<h1>Actions</h1>
<ul>
	<li><%= link_to "Compose message", new_user_mailbox_message_path(current_user, :mailbox_id => :sent) %></li>
	<li><%= link_to "Empty trash", user_mailbox_messages_path(current_user, :mailbox_id => :trash) %></li>
</ul>

<h1>Mailboxes</h1>
<ul>
	<li>
		<%= link_to 'Inbox', user_mailbox_path(current_user, :id => :inbox) %>
		(<%= current_user.mailbox[:inbox].mail.size %> messages)
	</li>
	<li><%= link_to 'Sent', user_mailbox_path(current_user, :id => :sentbox) %></li>
	<li><%= link_to 'Trash', user_mailbox_path(current_user, :id => :trash) %></li>
</ul>