<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Radia Source<%= (@pagetitle.blank? ? '' : ": #{@pagetitle}") %></title>	
	
	<%= stylesheet_link_tag 'blueprint/src/reset', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/src/typography', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/src/grid', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/src/forms', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
	<!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<%= stylesheet_link_tag 'login', :media => 'screen, projection' %>
	<%= javascript_include_tag :defaults %>
</head>
<body id="<%= @body_id %>">

	<div class="container">
		<div id="main" class="prepend-4 span-16 append-4">
			<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
			<%= @content_for_layout %>
		</div>
	</div>
</body>
</html>