<% 
	@pagetitle = "Program: #{@broadcast.program.name}" 
	broadcast_crumbs
%>

<% content_for :sidebar do %>
	<%= render :partial => 'sidebar' %>
<% end %>

<p>
	<span class="as_label">Time:</span> 
	<%= @broadcast.dtstart.localtime.strftime("%H:%M") + " - " + @broadcast.dtend.localtime.strftime("%H:%M") %>
</p>
<p>
	<span class="as_label">Synopsis: </span>
	<% if @broadcast.description %>
		<%= @broadcast.description %>
	<% else %>
		No description
	<% end %>
</p>
<div>
	<%= status_icon(@broadcast) %>
</div>
<hr />
<h3>Segments</h3>
<ul>
<% @broadcast.structure.segments.each do |e| %>
	<%= render :partial => 'deliveries/show_segment', :locals => { :segment => e }%>
<% end %>
</ul>
