<% remote_form_for(@segment, :url => create_segment_path(@structure_template), :html => { :method => :put }) do |f| %>
<%= hidden_field_tag 'segment[asset][kind]', 'live' %>

<fieldset>
	<legend>Live</legend>
	
	<p>
		<label for="segment_live_source">Live source:</label>&nbsp;
		<%= select_tag 'segment[asset][live_source]', live_assets %>
	</p>
	
	<%= render :partial => 'authored', :locals => { :single => false } %>
	
	<%= render :partial => 'duration', :locals => { :f => f } %>

	<p class="centered">
		<%= submit_tag 'Save' %>
	</p>
</fieldset>
<% end %>
