<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Radia Source<%= (@pagetitle.blank? ? '' : ": #{@pagetitle}") %></title>	
	
	<%= stylesheet_link_tag 'blueprint/src/reset', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/src/typography', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/src/grid', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'blueprint/src/forms', :media => 'screen, projection' %>

	<%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
	<!--[if IE]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<%= stylesheet_link_tag 'display', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'navigation', :media => 'screen, projection' %>
	<%= stylesheet_link_tag 'calendar', :media => 'screen, projection' %>

    <%= stylesheet_link_tag 'rs0/jquery-ui-1.8.11.custom.css', :media => 'screen' %>

	<%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'j/jquery-1.5.1.min.js' %>
    <%= javascript_include_tag 'j/jquery-ui-1.8.11.custom.min.js' %>
    <script>
      var $j = jQuery.noConflict();
    </script>

	<!--[if lt IE 8]>
	    <style type="text/css" media="screen">
	      #calendars li a, #calendars table {
	        display: inline;
	      }
	    </style>
	  <![endif]-->
	  <!--[if lt IE 7]>
	    <link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" media="screen" title="ie6" charset="utf-8"/>
	  <![endif]-->
	
      <%= yield :head %>
</head>
