<%= render :partial => 'layouts/head' %>

<body id="<%= @body_id %>">
	<div id="header">
		<div id="header_top">
			<div id="logo">
				<%= image_tag 'logo.png', :alt => 'Radia Source' %>
			</div>
			
			<div id="control_nav">
				<ul>
					<% if logged_in? %>
						<li class="first">Hello, <%= link_to "#{current_user.name}", user_path(current_user) %>
						<li>
							<%= mailbox_icon %>
							<%= link_to 'Inbox', user_mailbox_path(current_user, :id => :inbox) %>
						</li>
						<li><%= link_to 'Logout', logout_path, { :method => :delete } %></li>
					<% else %>
						<li class="first"><%= link_to 'Login', login_path %></li>
					<% end %>
				</ul>
			</div>
		</div>
		
		<div id="header_bottom">
			<div id="main_nav">
				<%= render :partial => 'layouts/navigation' %>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div id="content" class="span-24">
			
			<div id="main_content" class="span-17">
				<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>
				<%= render :partial => 'shared/breadcrumbs' %>
				<%= @content_for_layout %>
			</div>

			<div id="sidebar" class="span-5 last">
				<%= @content_for_sidebar %>
			</div>
		</div>
	</div>
	<div id="footer">
	</div>
</body>
</html>