<fieldset>
	<legend>Structure</legend>

	<ul id="element_types">
		<li style="margin-right:20px; vertical-align: middle;">
			<%= image_tag 'icons/add.png', :alt => 'Add element' %>
		</li>
		<li>
			<%= link_to_remote "Single", :update => 'segment', 
			:url => { :action => 'show_segment', :controller => 'structure_templates', :id => @structure_template, :kind => 'single' }, :html => { :class => 'element_type'} %>
		</li>
		<li>
			<%= link_to_remote "Live", :update => 'segment', 
			:url => { :action => 'show_segment', :controller => 'structure_templates', :id => @structure_template, :kind => 'live' }, :html => { :class => 'element_type'} %>	
		</li>
		<li>
			<%= link_to_remote "Playlist", :update => 'segment', 
			:url => { :action => 'show_segment', :controller => 'structure_templates', :id => @structure_template, :kind => 'playlist' }, :html => { :class => 'element_type'} %> 
		</li>
		<li>
			<%= link_to_remote "Intermission", :update => 'segment',
			:url => { :action => 'show_segment', :controller => 'structure_templates', :id => @structure_template, :kind => 'intermission' }, :html => { :class => 'element_type'} %>
		</li>
	</ul>
	
	<div id="segment"></div>
	<hr />
	<div id="structure">
		<%= render :partial => 'structure', :object => @structure_template.structure %>
	</div>

</fieldset>