<p><%= link_to "Signup", signup_path %></p>
<p>
<%= link_to 'What is OpenID?', 'http://openid.net/' %> <%= arrow %> 
<%= link_to 'Where can I use it?', 'http://openid.net/where' %> <%= arrow %> 
<%= link_to 'How do I get one?', 'http://openid.net/get' %>
</p>
