<h3><%= title %></h3>

<p>
	<%= check_box_tag "process[#{field}_field][perform]", 1, process.send(field).send(:perform) %>
	<label for="<%= "process[#{field}_field][perform]" %>"><%= attribute[0] %></label>
</p>

<p>
	<label for="<%= "process[#{field}_field][#{attribute[1]}]" %>"><%= "#{attribute[2]}"%></label><br />
	<% if attribute.size == 3 %>
		<%= text_field_tag "process[#{field}_field][#{attribute[1]}]", process.send(field).send(attribute[1]) %>		
	<% elsif attribute.size > 3 # has options 
		values = process.send(field).send(attribute[1]).split(' ')
	%>
		<%= text_field_tag "process[#{field}_field][#{attribute[1]}][]", values[0], :size => 2 %>
		<% count = 1
		   values.slice(1..-1).each do |v| %>
			 <%= select_tag "process[#{field}_field][#{attribute[1]}][]", options_for_select(attribute[3][count - 1], values[count]) %>
		<% count += 1; end %>
	<% end %>
</p>