<h3><%= title %></h3>
<p>
	<strong>Protocol:</strong> <%= process.send(field).send(:protocol) %>
</p>

<p>
	<strong>Location:</strong> <%= process.send(field).send(:location) %>
</p>
<p>
	<strong>Login:</strong> <%= process.send(field).send(:login) %>
</p>
<p>
	<strong>Password:</strong> <%= process.send(field).send(:password) %>
</p>