<%= render :partial => 'navigation', :locals => { :items => @process.activities.keys } %>

<div class="prepend-4 span-9 append-4">
	
<% @process.activities.each do |activity, fields| %>
	<div id="<%= activity %>">
		<h2 class="centered">
			<%= activity.to_s.split("_").collect{|e| e.capitalize}.join('-') %>
		</h2>
		
		<% fields.each do |suffix, params| %>
			<p>	
				<% field_name = activity.to_s + '_' + suffix.to_s
				   if params[0] == :service %>
					<%= service_show(@process, field_name, params[1]) %>
				<% elsif params[0] == :action %>
					<%= action_show(@process, field_name, params[1], params.slice(2..-1)) %>
				<% end %>
			</p>
<% 
		end
	end %>
</div>