<% 
	@pagetitle = "Update program schedule"
	@breadcrumbs = [add_crumb("Schedule", schedule_path),
					add_crumb("Update schedule", edit_schedule_path, true)]
	
%>


<% content_for :sidebar do %>
<% end %>
<p class="centered">
	Select the calendar files representing the types of programs you want to update.
</p>

<% form_tag schedule_path, { :multipart => true, :method => :put } do -%>
<div class="prepend-5 span-9 append-3">
	<p>
		<label for="new_schedule[calendars][recorded]">Recorded: </label><br />
		<%= file_field_tag 'new_schedule[calendars][recorded]' %>
	</p>
	<p>
		<label for="new_schedule[calendars][live]">Live: </label><br/>
		<%= file_field_tag 'new_schedule[calendars][live]' %>
	</p>
	<p>
		<label for="new_schedule[playlist]">Playlist: </label><br />
		<%= file_field_tag 'new_schedule[calendars][playlist]' %>
	</p>
	<p>
		<label for="date_end">End date:</label><br />
		<%= select_datetime 6.months.from_now, {:prefix => "new_schedule[end]", :time_separator => ' : '} %>
	</p>
	<br/>
</div>
<p class="centered">
<%= submit_tag 'Change schedule' %>
</p>
<% end -%>