<h1>Administration</h1>
<ul>
	<li><%= link_to 'Edit program', edit_program_path(@program) %></li>
</ul>

<h1>Process configuration</h1>
<ul>
	<li><%= link_to "Recorded emissions", "#" %></li>
	<li><%= link_to "Live emissions", "#" %></li>
	<li><%= link_to "Playlist emissions", "#" %></li>
</ul>

<div id="minical">
	<%= render :partial => 'shared/minical', 
		:locals => { :date => Time.now, :program => @program, 
					 :emissions => @program.find_emissions_by_date(Time.now.year, Time.now.month) } %>
</div>
