<h1>Actions</h1>
<ul>
	<li><%= link_to 'Edit program properties', edit_program_path(@program) %></li>
	<li><%= link_to 'Send message to editors', edit_program_path(@program) %></li>
	<li><%= link_to 'Send message to authors', edit_program_path(@program) %></li>
</ul>

<h1>Authors</h1>
<ul id="authors">
	<% @program.authorships.each do |a| %>
	<li <%= %( onmouseover="$('mod_#{a.id}').show(); $('days_#{a.id}').show();" onmouseout="$('mod_#{a.id}').hide(); $('days_#{a.id}').hide();") %>>
		<%= link_to a.user.name, program_author_path(@program, a.user) %>
		
		<span style="display:none;" id="mod_<%= a.id %>">
		    <%= link_to('edit', edit_program_author_path(@program, a.user), :class => "utility") %> |
		    <%= link_to('delete', program_author_path(@program, a.user), :class => "utility", 
				:method => :delete, :confirm => 'Delete this authorship forever?') %>
		</span>
	</li>
	<%	end	 %>
</ul>
<ul>
	<li class="add">
		<%= link_to 'Add author', new_program_author_path(@program) %>
	</li>
</ul>

<div id="minical">
	<%= render :partial => 'shared/minical', 
		:locals => { :date => Time.now, :program => @program, 
					 :broadcasts => @program.find_broadcasts_by_date(Time.now.year, Time.now.month) } %>
</div>