<%
	add_crumb("Audio Assets", audio_path, true)
%>

<% content_for :sidebar do %>
	<h1>Add audio assets</h1>
	<ul>
		<li><%= link_to "New single", new_audio_single_path %></li>
		<li><%= link_to "New playlist", new_audio_playlist_path %></li>
		<li><%= link_to "New spot", new_audio_spot_path %></li>
	</ul>
<% end %>

<ul>
	<li class="type_list_element"><%= link_to "Playlists", audio_playlists_path %></li>
	<% count = @audio[:playlists].size %>
	<%= "#{count} playlist" + (count > 1 ? 's' : '') %>
	
	<li class="type_list_element"><%= link_to "Singles", audio_singles_path %></li>
	<% count = @audio[:singles].size %>
	<%= "#{count} single" + (count > 1 ? 's' : '') %>
	
	<li class="type_list_element"><%= link_to "Spots", audio_spots_path %></li>
	<% count = @audio[:spots].size %>
	<%= "#{count} spot" + (count > 1 ? 's' : '') %>
</ul>