<%= hidden_field_tag "to_create[#{index}][original]", original[:original].id if original[:original] %>
<%= hidden_field_tag "to_create[#{index}][program]", original[:program].id %>
<%= hidden_field_tag "to_create[#{index}][type]", original[:type] %>
<%= hidden_field_tag "to_create[#{index}][dtstart]", original[:dtstart].utc %>
<%= hidden_field_tag "to_create[#{index}][dtend]", original[:dtend].utc %>
<li><%= DateTime.parse(original[:dtstart]).localtime.to_formatted_s(:long) + original[:program].name %></li>
